.mainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBarButtonContainer {
  width: 150px;
  display: flex;
}
