.radioWrapper {
  &__outer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 110px;
  }
}
