.cardStock {
  &__container {
    padding: 0 19px;
    display: flex;
  }

  width: 160px;
  height: 215px;
  border: 2px solid black;
  border-radius: 7px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__cardHolder {
    position: relative;
    border: 16px solid #00ff00;
    border-radius: 135px;
    width: 135px;
    height: 135px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    div.card {
      @for $i from 0 through 7 {
        &.#{$i} {
          position: absolute;
          left: -29px;
        }
      }
      @for $i from 8 through 16 {
        &.#{$i} {
          position: absolute;
          left: -25px;
          top: -54px;
        }
      }
      @for $i from 17 through 23 {
        &.#{$i} {
          position: absolute;
          left: -21px;
          top: -52px;
        }
      }
    }
  }
}

.cardsOnTable {
  position: relative;
  width: 160px;
  height: 215px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  div.card {
    @for $i from 0 through 7 {
      &.#{$i} {
        position: absolute;
        left: 0px;
      }
    }
    @for $i from 8 through 15 {
      &.#{$i} {
        position: absolute;
        left: 4px;
        top: 2px;
      }
    }
    @for $i from 16 through 23 {
      &.#{$i} {
        position: absolute;
        left: 8px;
        top: 4px;
      }
    }
  }
}
