.cardStock {
  width: 160px;
  height: 215px;
  border: 2px solid black;
  border-radius: 7px;
  margin: 12px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__cardHolder {
    position: relative;
    border: 16px solid #00ff00;
    border-radius: 135px;
    width: 135px;
    height: 135px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    div.card {
      @for $i from 0 through 5 {
        &.#{$i} {
          position: absolute;
          left: -29px;
        }
      }
      @for $i from 6 through 11 {
        &.#{$i} {
          position: absolute;
          left: #{-29 + 4}px;
        }
      }
      @for $i from 12 through 17 {
        &.#{$i} {
          position: absolute;
          left: #{-29 + 8}px;
        }
      }
      @for $i from 18 through 23 {
        &.#{$i} {
          position: absolute;
          left: #{-29 + 12}px;
        }
      }
    }
  }
}

.cardsOnTable {
  position: relative;
  width: 160px;
  height: 215px;
  margin: 12px 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  div[class*="card"] {
    position: absolute;
  }
}
