.topBar__bar {
  width: 100%;
  height: 30px;
  background-color: #213faa;
  display: flex;
  padding: 9px;
  justify-content: space-between;
  align-items: center;

  &--title {
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-left: 11px;
    letter-spacing: 1px;
  }

  &--grey {
    background-color: #868a8e;

    & .topBar__bar--title {
      color: #c3c7cb;
    }
  }
}

.leftSide,
.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
