.mainPage {
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBarButtonContainer {
  width: 150px;
  display: flex;
}

.toolElement {
  margin: 7px 35px;
  cursor: pointer;
}
