.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
  background-clip: content-box;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: default;

  &:focus {
    background-color: #213faa;
    color: #ffffff;
    outline: none;
  }
}

.active {
  background-color: #213faa;
  color: #ffffff;
}

.container span {
  text-decoration: underline;
}
