.bottomBar {
  &__bar {
    width: 100%;
    height: 30px;
    font-size: 19px;
    font-weight: 600;
    background-color: #ffffff;
    display: flex;
    padding-right: 14px;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    border-left: 3px solid #858a8e;
    border-bottom: 3px solid #c2c7cb;
    padding: 0 10px;

    &:before {
      content: " ";
      position: absolute;
      z-index: 6;
      top: calc(100vh - 40px);
      left: 2px;
      right: 2px;
      bottom: 3px;
      border-left: 3px solid #000000;
      border-right: 2px solid #c2c7cb;
    }
  }

  &__text,
  &__stats {
    display: flex;
    flex-wrap: nowrap;
  }
}

.disabled {
  height: 3px;
}
