.cardStock {
  &__container {
    padding: 0 19px;
    display: flex;
  }

  width: 130px;
  height: 175px;
  border: 2px solid black;
  border-radius: 7px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__cardHolder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    & .circleHolder {
      border: 14px solid #00ff00;
      border-radius: 130px;
      position: fixed;
      width: 120px;
      height: 120px;
    }

    & .vegasHolder {
      position: fixed;
      width: 120px;
      height: 120px;
      transform: rotate(Xdeg);
      // &::after {
      //   content: "\d7";
      //   font-size: 250px;
      //   color: #ff0000;
      //   font-weight: bold;
      //   position: fixed;
      //   top: 145px;
      //   left: 18px;
      //   line-height: 20px;
      // }

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 118px;
        height: 12px;
        background-color: #ff0000;
        top: 55px;
      }

      &:before {
        transform: rotate(45deg);
        left: 2px;
      }
      &:after {
        transform: rotate(-45deg);
        right: 2px;
      }
    }

    div.cardContainer {
      @for $i from 0 through 7 {
        &.card_#{$i} {
          position: absolute;
          left: -65px;
        }
      }
      @for $i from 8 through 16 {
        &.card_#{$i} {
          position: absolute;
          left: -61px;
          top: -86px;
        }
      }
      @for $i from 17 through 23 {
        &.card_#{$i} {
          position: absolute;
          left: -57px;
          top: -84px;
        }
      }
    }
  }
}

.cardsOnTable {
  position: relative;
  width: 130px;
  height: 175px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  div.card {
    @for $i from 0 through 7 {
      &.card_#{$i} {
        position: absolute;
        left: 0px;
      }
    }
    @for $i from 8 through 15 {
      &.card_#{$i} {
        position: absolute;
        left: 4px;
        top: 2px;
      }
    }
    @for $i from 16 through 23 {
      &.card_#{$i} {
        position: absolute;
        left: 8px;
        top: 4px;
      }
    }
  }
}

.threeCardShifter {
  width: 130px;
  height: 175px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 7px;
}
