.cardDestination {
  width: 160px;
  height: 215px;
  border: 2px solid black;
  border-radius: 7px;
  margin: 12px 19px;
  background-image: radial-gradient(#000000 15%, transparent 15%),
    radial-gradient(#000000 15%, transparent 15%);
  background-color: transparent;
  background-position: 0 0, 35px 35px;
  background-size: 14px 14px;
  position: relative;

  div[class*="card"] {
    position: absolute;
  }
}
